#adc-item {
	height: 120px;
}

.btn-blk:focus {
	background-color: #64C733;
}

.btn-blk {
	border-radius: 0px;
	width: 80px;
}

.btn-blk:hover {
	background-color: #64C733;
}

.btn-selected {
	border-radius: 0px;
	width: 80px;
}



