#adc-item {
	height: 120px;
}

.btn-blk:focus {
	background-color: #595959;
	color: #FFFFFF;
}

.btn-blk {
	border-radius: 0px;
	width: 80px;
}

.btn-selected {
	border-radius: 0px;
	width: 80px;
}

.btn-blue {
	color: #000;
}