#adc-item {
	height: 175px;
}

.btn-blk:focus {
	background-color: #36302B;
	color: #F0F0F0;
}

.btn-blk {
	border-radius: 3px;
	width: 80px;
}

.btn-selected {
	border-radius: 3px;
	width: 80px;
}

.green {
	color: #64C733;

}

.red {
	color: #F91E1E;
}