#search-button {
	height:100%;
	border-left-width:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

#search-box {
	border-right-width:0;
	box-shadow: none;
}

#search-box:focus {
	border-color:#ccc;
}

.large-icon {
	font-size: 2em;
}

.nav-padding {
	padding-top: 10px;
}