h1 {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 0px;
}

img {
    margin-bottom: 15px;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.login-form {
    margin-top: 15px;
}

.clearfix {
    font-size: 25px;
}

#signup {
    margin-top: 15px;
}

#login {
    margin-top: 15px;
}