a:link {
	color:#000000;
}

a:visited {
	color:#000000;
}

a:hover {
	color:#000000;
}

a:active {
	color:#000000;
}

.icons {
	font-size: 25px;
}

* {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}


#adc
{
	height: 150px;

}
