#bottom-nav {
	margin-top: 60px;
}

#progress-box {
	background-color: #A8DACF;
	border-radius: 6px;
}

.prof-pic {
	margin-top: 15px;
	margin-left: 15px;
}

.input-group-addon {
	background-color: #fff;
	border-color: #fff;
}

.caret {
	color: #ECEEE1;
}