#bottom-nav {
	margin-top: 60px;
}

#progress-box {
	background-color: #3E879E;
	border-radius: 6px;
}

.prof-pic {
	margin-top: 15px;
	margin-left: 15px;
}

.progress-bar {
	background-color: #64C733;
}

.input-group-addon {
	background-color: #fff;
	border-color: #fff;
}

.caret {
	color: #F0F0F0;
}