#bottom-nav {
	margin-top: 60px;
}

#progress-box {
	background-color: #CDE5B7;
	border-radius: 6px;
}

.prof-pic {
	margin-top: 15px;
	margin-left: 15px;
}

.input-group-addon {
	background-color: #fff;
	border-color: #fff;
}

.caret {
	color: #F0F0F0;
}

.progress-bar {
	background-color: #3e879e;
}

.dropdown-menu > .active > a {
    background-color: #fff;
}

.dropdown-menu > .active > a:hover {
    background-color: #F0F0F0;
}

.dropdown-menu > .active > a:focus {
    background-color: #F0F0F0;
}

.dropdown-menu > a {
    background-color: #fff;
}

.dropdown-menu > a:hover {
    background-color: #F0F0F0;
}

.dropdown-menu > a:focus {
    background-color: #F0F0F0;
}