h1 {
    color: #D8403A;
    font-size: 50px;
}

h3 {
    color: #D8403A;
    font-size: 3em;
    text-align: center;
}

body {

    background-color: #ECEEE1;
    width: 100%;
    height: 100%;
}

.textbox {
    font-size: 1.5em;
}

#description {
    font-size: 2em;
}

p {
    color: #221E1F;
    font-size: 20px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

#logo {
    width: 440px;
    margin-bottom:20px;
}

#login {
    color: #fff;
    font-size: 2em;
    margin-bottom: 12px;
    margin-right: 15px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    background-color: #D8403A;
    border-color: #D8403A;    
}



