#userpic {
	margin-top: 15px;
}

#user-stats {
	background-color: #27596A;
}

.stats-text {
	color:#FFFFFF;
}

#stats-table {
	background-color:white;
}

th {
	color:#8C1945;
}

.vert-align {
	top:20px;
}