#userpic {
	margin-top: 15px;
}

#user-stats {
	background-color: #57524D;
}

.stats-text {
	color:#F0F0F0;
}

#stats-table {
	background-color:white;
}

th {
	color:#3E879E;
}

.vert-align {
	top:20px;
}