.glyphicon {
	margin-right: 5px;
}

.prof-pic {
	vertical-align: middle;
	margin-left: 8px;
}

#text {
	display: inline-block;
	color: #FFFFFF;
}

.btn:hover .prof-pic {
	border-color: #8C1945;
}

.btn:focus .prof-pic {
	border-color: #595959;
}
