#revert {
	margin-right: 20px;
}

.icons {
	font-size: 25px;
}

#bottom-nav {
	margin-bottom: 10px;
}

#progress-box {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
	border-radius: 6px;
}